# Eclipse
.project
.classpath
.settings/*
!.settings/org.eclipse.jdt.core.prefs
!.settings/org.eclipse.jdt.ui.prefs
bin/
*.prefs

# IntelliJ
**/.idea/*
!**/.idea/codeStyles
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties